.app-icon {
  position: relative;
  height: 50px;
  width: 50px;
  margin-top: 10px;
  left: 25px;
}

.icon-container {
  width: 100px;
  background-color: #8C8C8C;
  margin-bottom: 5px;
  cursor: pointer;
}
