<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #leftSidenav mode="over">
    <toolbar-left-menu [sidenav]="leftSidenav"></toolbar-left-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <toolbar-header id="navbar" [sidenav]="leftSidenav">
      <ng-container app-icon>
        <button test-id="home" mat-icon-button class="app-icon-button" routerLink="/layout">
          <mat-icon svgIcon="logoBFlight" class="app-icon"></mat-icon>
        </button>
      </ng-container>

      <ng-container email-verify>
        <auth-email-verify></auth-email-verify>
      </ng-container>

      <ng-container encrypting>
        <encrypting-chips></encrypting-chips>
      </ng-container>

      <ng-container notifications>
        <notification-widget></notification-widget>
      </ng-container>

      <ng-container profile-menu>
        <account-profile-menu>
          <ng-container widgets>
            <account-profile-widget></account-profile-widget>
            <mat-divider></mat-divider>
            <organization-widget></organization-widget>
            <mat-divider></mat-divider>
            <wallet-widget></wallet-widget>
          </ng-container>
        </account-profile-menu>
      </ng-container>

    </toolbar-header>
    <main [@slideAnimation]="prepareRoute(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
