<article class="movie-block">
  <div class="status-block">
    {{ movie?.editorialStatus || "Almost Closed" }}
  </div>

  <h3>{{ movie?.principalInformations?.director || "Director Name" }}</h3>
  <h1>{{ movie?.title || "Movie Name" }}</h1>
  <table class="data">
    <tbody>
    <tr>
      <td>
        <span class="key">Minimum&nbsp;Amount&nbsp;Request</span> <span
        class="value">{{ movie?.principalInformations?.minAmountRequested || "100K$" }}</span>
      </td>
      <td>
        <span class="key">Director's&nbsp;Category</span> <span
        class="value">{{ movie?.principalInformations?.directorsCategory || "Confirm" }}</span>
      </td>
    </tr>
    </tbody>
  </table>
  <p *ngIf="movie?.logline as value else elseBlock">{{ value }}</p>
  <ng-template #elseBlock>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et rutrum libero, at feugiat lectus. Integer
    pulvinar blandit nulla sagittis mattis.
  </ng-template>

  <div class="progress">
    <mat-progress-bar mode="determinate"
                      [value]="progress"></mat-progress-bar>
    <p>{{ this.progress }}% Completed</p>
  </div>

  <div>
    <span class="key">Rank</span>
    <span class="value">{{movie.minRankRequired}}</span>
  </div>

  <div class="cta">
    <button [routerLink]="['/explorer/movie/', movie?.id || '42']" class="full-width" mat-button>
      <span>See This Movie</span>
      <mat-icon>arrow_right_alt</mat-icon>
    </button>
  </div>
</article>
<div class="left-decoration">
  <p>
    {{ movie?.selectionCategory || "Almost Closed" }}
  </p>
</div>
