<div class="movie-block">
  <div class="status-block">
    Almost Closed
  </div>

  <h3>Nom Réalisateur</h3>
  <h1>Movie Name Sooooooooooo Long</h1>
  <table class="data">
    <tbody>
    <tr>
      <td>
        <span class="key">Minimum&nbsp;Amount&nbsp;Request</span> <span class="value">$100&nbsp;K</span>
      </td>
      <td>
        <span class="key">Director's&nbsp;Category</span> <span class="value">Confirm</span>
      </td>
    </tr>
    </tbody>
  </table>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et rutrum libero, at feugiat lectus. Integer
    pulvinar blandit nulla sagittis mattis.
  </p>

  <div class="progress">
    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    <p>64% Completed</p>
  </div>

  <div class="cta">
    <a [routerLink]="['/explorer/movie/42']">
      See This Movie
    </a>
  </div>
</div>
<div class="left-decoration">
  <p>
    Prestige Director
  </p>
</div>
