<mat-nav-list>
  <h2 mat-subheader>Categories :</h2>
  <div *ngFor="let template of (template | keyvalue)">
    <mat-list-item>
      {{ template.key }}
    </mat-list-item>
  </div>
  <article class="buttons" fxLayout="column">
    <button *ngIf="name === 'Template'" mat-raised-button color="primary" (click)="save.emit()">Save template</button>
    <button *ngIf="name === 'Delivery'" mat-raised-button color="primary" (click)="save.emit()">Save as new template</button>
    <button *ngIf="name === 'Delivery'" mat-raised-button color="accent" (click)="create.emit()">
      Submit Delivery
    </button>
  </article>
</mat-nav-list>
