<mat-nav-list>
  <button mat-raised-button color="primary" (click)="addCategory()">
    Add new Category
  </button>
  <h2 mat-subheader>Categories :</h2>
  <div *ngFor="let template of (template | keyvalue)">
    <mat-list-item>
      {{ template.key }}
    </mat-list-item>
  </div>
  <article class="buttons" fxLayout="column">
    <button mat-raised-button color="primary" (click)="save.emit()">Save as new template</button>
    <button *ngIf="name === 'Delivery'" mat-raised-button color="accent" (click)="save.emit()">
      Submit {{ name }}
    </button>
  </article>
</mat-nav-list>
