@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500,800');

// TODO #992: review all the design

.explorer-navbar {
  background: none;
  border-bottom: 1px solid white;
  background-color: rgba(0,0,0,.4);
  .spacer {
    flex: 1 1 auto;
  }

  a {
    font-family: 'Roboto', sans-serif;
    margin-left: 1rem;
    margin-right: 1rem;

    font-style: normal;
    font-weight: 500;
    color: #FFF;
    text-decoration: none;
    font-size: 0.8rem;
    text-align: center;
    text-transform: uppercase;
  }

  table.userInfos {
    margin-left: 2rem;
    border-collapse: collapse;

    td {
      border: 1px solid white;
    }

    .name a {
      font-weight: 300;
    }

    .membership-level a {
      font-weight: 800;
    }

    .account-icon {
      background-color: white;

      mat-icon {
        color: #323232;
        transform: translate(0, 25%);
      }
    }
  }
}
