<mat-toolbar class="explorer-navbar">
  <span class="spacer"></span>

  <a routerLink="/explorer">Home</a>
  <a routerLink="/explorer/search">All Projects</a>
  <a href="#">Compare</a>
  <a href="#">About</a>
  <a href="#">Contact</a>

  <table class="userInfos">
    <tbody>
    <tr>
      <td class="name"><a routerLink="/profile">Cascade8</a></td>
      <td class="membership-level"><a routerLink="/profile">Platinium</a></td>
      <td class="account-icon">
        <a routerLink="/profile">
          <mat-icon>account_circle</mat-icon>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</mat-toolbar>
