@import 'mixins';

img {
  width: 200px;
  height: 200px;
}

mat-divider {
  width: 100%;
}

mat-card-content {
  height: 200px;
}

mat-card-footer {
  padding: 5px;
}

mat-card {
  width: 23%;
  margin-top: 20px;
}

h3 {
  font-size: 20px;
  color: #4D5664;
}

@include medium {
  img {
    width: 150px;
    height: 150px;
  }
  mat-card {
    width: 30%;
  }
}

@include tablet {
  img {
    width: 100px;
    height: 100px;
  }
  mat-card {
    width: 46%;
  }
}

@include mobile {
  img {
    width: 100px;
    height: 100px;
  }
  mat-card {
    width: 80%;
  }
}
