input {
  border: 1px solid rgba(25, 25, 25, 0.32);
  height: 43px;
  width: 100%;
}
input::placeholder {
  font-size: 16px;
}
input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: calc(100% - 30px);
  border: none;
  margin-top: -20px;
  background: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  background: rgba(255, 0, 0, 0);
  background-image: url("../../../../../../../../libs/shared-assets/apps/movie-financing/range-thumb.svg");
  background-position: center center;
  background-size: auto;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]::-moz-range-thumb {
  height: 20px;
  width: 20px;
  background: rgba(255, 0, 0, 0);
  background-image: url("../../../../../../../../libs/shared-assets/apps/movie-financing/range-thumb.svg");
  background-position: center center;
  background-size: auto;
  cursor: pointer;
  border-radius: 0;
  border: none;
}
.unit-left {
  position: absolute;
  margin-top: 13px;
  margin-left: 5px;
}
.unit-right {
  position: absolute;
  margin-top: 13px;
  margin-left: -30px;
}