<section>
  <mat-card>
    <file-upload
      accept=".pdf"
      [path]="user.email"
      [types]="['application/pdf']"
      (uploaded)="hashFile($event)"
    ></file-upload>
    <form [formGroup]="form">
      <mat-form-field>
        <input matInput placeholder="version" aria-label="version" formControlName="version"/>
      </mat-form-field>
    </form>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Create your IP</mat-card-title>
      <mat-card-subtitle>Describe it</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <form [formGroup]="form">
      <mat-form-field>
        <input matInput placeholder="Title" aria-label="title" formControlName="title" />
      </mat-form-field>
      <mat-form-field>
        <label>Write a small Synopsis</label>
        <textarea matInput formControlName="synopsis"></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-select aria-label="type" placeholder="Type" formControlName="type">
          <mat-option *ngFor="let type of TYPES" [value]="type">
            {{ type }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <chips-autocomplete
        placeholder="Add a genre"
        (added)="genres.push(createGenre($event))"
        (removed)="genres.removeAt($event)"
        [keys]="genres.valueChanges | async"
        [items]="GENRES"
      >
      </chips-autocomplete>

    </form>
  </mat-card>
</section>



<mat-toolbar fxLayout="row" fxLayoutAlign="end center" class="mat-elevation-z8">
  <button mat-raised-button color="primary" (click)="submit()">Save</button>
  <button mat-button (click)="clear()">Clear</button>
</mat-toolbar>
