table {
  width: 100%;
  margin-top: 1rem;
}

.add-delivery {
  font-weight: bolder;
  color: #6100ED;
}

.mat-row:hover {
  background-color: #EAEAEA;
}

.blue-dot {
  color: #03AEFE;
}

.green-dot {
  color: #26D60D;
}

.orange-dot {
  color: #FF9204;
}

.grey-dot {
  color: #B0B1B0;
}
