<section test-id="content" page-id="catalog-homepage">
    <article fxLayout="column" fxLayoutAlign="center center">
        <h1 class="mat-display-3">Welcome to Bigger Boat</h1>
        <p class="mat-body-1">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehcentererit in voluptate velit
            esse cillum dolore eu fugiat nulla pariatur.</p>
        <button mat-button color="accent" test-id="discover">Discover our films</button>
    </article>
</section>