<mat-card>
  <mat-card-title class="container" fxLayout="row" fxLayoutAlign="start center">
    <h4  fxFlex="15">Category :</h4>
    <mat-form-field fxFlex="65">
      <input #categoryInput value={{category}} matInput />
    </mat-form-field>
    <span fxFlex="20">
      <button mat-icon-button (click)="updateCategory(categoryInput.value)"><mat-icon>edit</mat-icon></button>
      <button mat-icon-button (click)="deleteCategory()"><mat-icon>delete</mat-icon></button>
    </span>
  </mat-card-title>
  <mat-card-content>
    <div cdkDrag *ngFor="let material of materials">
      <material-form [material]="material"></material-form>
    </div>
  </mat-card-content>
</mat-card>
