@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900');


// TODO #992: review all the design

main {
  margin-left: 20%;
  margin-right: 20%;
  section {
    h1 {
      letter-spacing: 8px;
      text-transform: uppercase;
      color: #323232;
      font-weight: 200;
    }
    mat-toolbar {
      background-color: rgba(26, 72, 245, 0.15);
      margin-top: 30px;
      margin-bottom: 40px;
      button {
        margin-right: 30px;
      }
    }
    table {
      margin-left: 35px;
      border-spacing: 5px;
      th {
        border: solid 1px black;
        font-weight: normal;
        padding: 4px 10px;
      }
      .black {
        color: white;
        background-color: black;
      }
    }
  }
}
