@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900');

// TODO #974: replace color

// LAYOUT

h3 {
  font-size: 12px;
  font-weight: normal;
  margin: 5px;
}

main {
  .col-1 {
    width: 30%;
    padding: 1rem;
    img {
      width: 100%;
    }
    .bordered {
      border: 1px solid black;
    }
    .rank {
      margin: -5px 0px 30px 0px;
      height: 48px;
      text-transform: uppercase;
      .key {
        text-align: end;
      }
      .value {
        font-weight: bold;
      }
    }
    .key {
      color: #323232;
      margin-right: 0.3rem;
      font-weight: 300;
      text-transform: uppercase;
    }
    .eth-address {
      font-size: 18px;
      word-wrap: break-word;
      font-weight: bold;
    }
    mat-icon {
      margin-left: 20px;
      font-size: 18px;
      vertical-align: sub;
    }
    .sold {
      font-size: 30px;
      font-weight: 900;
      word-spacing: 5px;
    }
    .caption {
      margin-top: 10px;
      color: rgba(50, 50, 50, 0.5);
      text-transform: uppercase;
      font-weight: 300;
      .price {
        margin-left: 5px;
        font-weight: 600;
      }
    }
  }
  .col-2 {
    margin-top: -20px;
    width: 60%;
    padding: 1rem;
  }
  section {
    margin-bottom: 60px;
    financing-range-slider {
      width: 50%;
    }
    button {
      margin-top: 4px;
      height: 59px;
      background-color: black;
      border: none;
      color: white;
      width: 20%;
    }
    button:disabled {
      background-color: lightgray;
      color: grey;
    }

    label {
      display: block;
    }
    input {
      width: 100%;
      padding-left: 20px;
    }
    input::placeholder {
      font-size: 16px;
    }
  }
  h1 {
    font-weight: lighter;
    color: #323232;
    text-transform: uppercase;
    letter-spacing: 8px;
  }
}

