<ng-container *ngIf="(user$ | async) as user">
  <financing-explorer-header>
    <h3>Welcome Home</h3>
    <h1>{{user.name}}</h1>
  </financing-explorer-header>
  <main>
    <article fxLayout="row" fxLayoutAlign="center">
      <div class="col-1">
        <img [src]="user.avatar" alt="user avatar"/>

        <div class="rank bordered" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="30px">
          <span class="key" fxFlex>Rank</span>
          <span class="value" fxFlex>{{userRank}}</span>
        </div>

      </div>
      <div class="col-2">

        <h1>My Profile</h1>

        <section fxLayout="row" fxLayoutGap="20px">
          <mat-form-field fxFlex appearance="outline" floatLabel="always">
            <mat-label>First name</mat-label>
            <input matInput type="text" placeholder="Input text" [value]="user.name" disabled/>
          </mat-form-field>
          <mat-form-field fxFlex appearance="outline" floatLabel="always">
              <mat-label>Last name</mat-label>
              <input matInput type="text" placeholder="Input text" [value]="user.surname" disabled/>
            </mat-form-field>
        </section>

        <section>
          <h1>Request a higher Rank</h1>

          <label>Chose a Rank</label>
          <div fxLayout="row" fxLayoutGap="20px">
            <mat-radio-group aria-label="Chose a Rank" [formControl]="rank">
              <mat-radio-button value="silver">Silver</mat-radio-button><br/>
              <mat-radio-button value="gold">Gold</mat-radio-button><br/>
              <mat-radio-button value="platinium">Platinium</mat-radio-button><br/>
            </mat-radio-group>
            <button mat-button (click)="updateRank()">Request</button>
          </div>
        </section>

        <section>
          <h1>Favorites List</h1>
          <financing-movie-card></financing-movie-card>
          <financing-movie-card></financing-movie-card>
        </section>
        <section>
          <h1>Movie List</h1>
          <financing-movie-card></financing-movie-card>
          <financing-movie-card></financing-movie-card>
        </section>
      </div>
    </article>

    <financing-explorer-footer></financing-explorer-footer>
  </main>
</ng-container>