<financing-explorer-header>
  <label>Welcome Home</label>
  <h1>Michel Michelle</h1>
  <label>logline</label>
  <p>A stand-up comedian, and his opera singer wife, have a 2 year old daughter with a surprising gift.</p>
</financing-explorer-header>

<main fxLayout="row" fxLayoutAlign="center">
  <div class="col-1">
    <img src="https://fakeimg.pl/410x418/" alt="user avatar"/>

    <div class="rank bordered" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="30px">
      <span class="key" fxFlex>
        Rank Position
      </span>
      <span class="value" fxFlex>
        Platinium
      </span>
    </div>

    <div fxLayout="column" fxLayoutGap="30px" *ngIf="(user$ | async) as user">
      <div fxFlex>
        <div class="key">Ethereum Address</div>
        <div class="eth-address">{{user.identity.address}}</div>
      </div>
      <div fxFlex>
        <div>
          <span class="key">Sold Address</span>
          <mat-icon matTooltip="Info about the action" matTooltipPosition="right">info_outline</mat-icon>
        </div>
        <ng-container *ngIf="!(isBalanceLoading$ | async); else isLoading">
            <span class="sold" (click)="refreshBalance()" matTooltip="Click to refresh" matTooltipPosition="right">{{user.balance}}</span>
        </ng-container>
        <ng-template #isLoading>
          <button mat-button [disabled]="true">
            <mat-spinner [diameter]="24" [strokeWidth]="2"></mat-spinner>
          </button>
        </ng-template>
        <div class="caption">
          <span>Correspond To</span>
          <span class="price">$1M</span>
        </div>
      </div>
    </div>

  </div>
  <div class="col-2">
    
    <h1>My Profile</h1>

    <section fxLayout="row" fxLayoutGap="20px">
      <mat-form-field fxFlex appearance="outline" floatLabel="always">
        <mat-label>First name</mat-label>
        <input matInput type="text" placeholder="Input text"/>
      </mat-form-field>
      <mat-form-field fxFlex appearance="outline" floatLabel="always">
          <mat-label>Last name</mat-label>
          <input matInput type="text" placeholder="Input text"/>
        </mat-form-field>
    </section>
    <section fxLayout="row" fxLayoutGap="20px">
        <mat-form-field fxFlex appearance="outline" floatLabel="always">
          <mat-label>Society</mat-label>
          <input matInput type="text" placeholder="Input text"/>
        </mat-form-field>
      <span fxFlex><!--spacer--></span>
    </section>

    <section>
      <h1>Buy Tokens</h1>

      <label>How much do you want to buy ?</label>
      <div fxLayout="column">
        <div fxFlex fxLayout="row" fxLayoutGap="20px">
          <span fxFlex>
            <financing-range-slider min="0.01" max="0.1" step="0.001" unit="ETH" (rangeValue)="handleChange($event)"></financing-range-slider>
          </span>
          <span fxFlex>
            <button mat-button (click)="requestTokens()" [disabled]="(isBalanceLoading$ | async)">Buy Tokens</button>
          </span>
        </div>
      </div>
    </section>

    <section>
      <h1>Favorites List</h1>
      <financing-movie-card></financing-movie-card>
      <financing-movie-card></financing-movie-card>
    </section>
    <section>
      <h1>Movie List</h1>
      <financing-movie-card></financing-movie-card>
      <financing-movie-card></financing-movie-card>
    </section>
  </div>
</main>

<financing-explorer-footer></financing-explorer-footer>
