<section class="card-container">
  <h2>Select the app you would like to use</h2>
  <article class="icons-container">
    <a href="/delivery">
      <img src="/assets/fake-data/media_delivering.svg" alt="Media Delivering">
    </a>

    <a href="/movie-financing">
      <img src="/assets/fake-data/media_financiers.svg" alt="Media Financiers">
    </a>

    <a href="/ip-upload">
      <img src="/assets/fake-data/home_of_scripts.svg" alt="Home Of Scripts">
    </a>

    <a href="/bigger-boat">
      <img src="/assets/fake-data/bigger-boat.svg" alt="Bigger Boat">
    </a>
  </article>
</section>
