@import 'mixins';

section {
  // TODO #974: replace color
  background-color: #FFFFFF;
  height: 100%;
  margin: 0 200px;
}

@include medium {
  section {
    margin: 0 100px;
  }
}

@include tablet {
  section {
    margin: 0 50px;
  }
}

@include mobile {
  section {
    margin: 0 20px;
  }
}
