<ng-container *ngIf="movie$ | async as movie; else loading">
  <ng-container *ngIf="!(isBalanceLoading$ | async) && (user$ | async) as user; else loading">
    <ng-container *ngIf="user.balance >= movie.minTokensRequired; else notEnoughTokens">
      <financing-explorer-header
        [poster]="movie.principalInformations.backgroundPoster">
        <label>{{ movie.principalInformations.director }}</label>
        <h1>{{ movie.title }}</h1>

        <label>Logline</label>
        <p>{{ movie.logline }}</p>
      </financing-explorer-header>

      <main class="movie-financing-details" fxLayout="row" fxLayoutAlign="center">
        <div class="col-1">
          <img [src]="movie.principalInformations.moviePoster" alt="movie cover">
          <financing-explorer-financing-details [movie]="movie"></financing-explorer-financing-details>

          <div class="funding-status">
            <div class="left-budget">
              <h3>
                Funded Budget
              </h3>
              <h4>{{ movie.principalInformations.fundedBudget }}</h4>
              <h5>
                <span class="key">Goal Budget:</span> <span
                class="value">{{ movie.principalInformations.goalBudget }}</span>
              </h5>
            </div>
            <div class="right-percent">
              <mat-progress-spinner
                class="spinner"
                color="primary"
                mode="determinate"
                [value]="movie.principalInformations.percentage * 100"
                diameter="120"
                strokeWidth="15"
              >
              </mat-progress-spinner>
              <div class="progress-value">{{ movie.principalInformations.percentage * 100 }} %</div>
            </div>
          </div>
          <div class="call-to-action">
            <div class="owner">
              <div class="pic">
                <img [src]="movie.artistic.directorPic">
              </div>
              <div class="details">
                <h3>{{ movie.principalInformations.director }}</h3>
                <p>{{ movie.principalInformations.directorShortBio }}</p>
              </div>
            </div>
            <div class="action contact">
              Contact Producer's Team
            </div>
            <div class="action invest">
              Investment
            </div>
            <div class="action download">
              Download scenario
            </div>
          </div>
          <div class="contributions">
            <h2>Contributions</h2>
            <div class="contribution" *ngFor="let contribution of movie.contributions | keyvalue">
              <h3>${{contribution.key}} and more</h3>
              <ng-container *ngFor="let item of contribution.value">
                <h4 class="key">{{ item.title }}</h4>
                <p class="value">{{ item.content }}</p>
              </ng-container>
              <h5>{{ contribution.value.length }} contributors</h5>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="main-information">
            <h2>Main Information</h2>
            <div class="summary">
              <h3>About the Film</h3>
              <ul class="kv-list">
                <li>
                  <span class="key">Directed By</span> <span
                  class="value">{{ movie.principalInformations.director }}</span>
                </li>
                <li>
                  <span class="key">Produced By</span> <span
                  class="value">{{ movie.principalInformations.producedBy }}</span>
                </li>
                <li>
                  <span class="key">Cast</span> <span class="value">
                  <span *ngFor="let item of movie.artistic.cast; let isLast=last">
                    {{ item.name }}{{ !isLast ? ',' : '' }}
                  </span>
                </span>
                </li>
                <li>
                  <span class="key">Product Stage</span> <span
                  class="value">{{ movie.principalInformations.productionStage }}</span>
                </li>
                <li>
                  <span class="key">International Sales</span> <span
                  class="value">{{ movie.principalInformations.internationalSales }}</span>
                </li>
              </ul>
            </div>
            <div class="synopsis">
              <h3>Synopsis</h3>
              <p>{{ movie.principalInformations.synopsis }}</p>
            </div>
            <div class="assets">
              <h3>Key assets of the Film</h3>
              <ul>
                <li *ngFor="let item of movie.principalInformations.keyAssets">{{ item }}</li>
              </ul>
            </div>
            <div class="keywords">
              <h3>Keywords</h3>
              <mat-chip-list>
                <mat-basic-chip *ngFor="let item of movie.principalInformations.keywords">{{ item }}</mat-basic-chip>
              </mat-chip-list>
            </div>
          </div>
          <div class="data movie-tab-group">
            <mat-tab-group>
              <mat-tab label="Production">
                <h2>Production</h2>
                <h3>Information</h3>
                <p class="key">Institutional Partners</p>
                <p class="value">{{ movie.production.subvention }}</p>
                <p class="key">Shooting dates</p>
                <p class="value">{{ movie.production.shootingDate }}</p>
                <p class="key">Shooting locations</p>
                <p class="value">{{ movie.production.shootingLocations }}</p>
                <p class="key">Expected premiere</p>
                <p class="value">{{ movie.production.expectedPremiere }}</p>

                <hr class="large-hidden"/>

                <h3>Stakeholders' Filmography</h3>
                <div class="producer-history">
                  <mat-accordion>
                    <mat-expansion-panel *ngFor="let producerHistory of movie.production.producersHistory | keyvalue">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          {{ producerHistory.key }}
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div class="producer-history-sub-container" *ngFor="let movie of producerHistory.value">
                        <div class="poster-container">
                          <img [src]="movie.posterUrl">
                        </div>
                        <mat-card class="movie-card">
                          <mat-card-header>
                            <mat-card-subtitle>{{ movie.productionYear }}</mat-card-subtitle>
                            <mat-card-title>{{ movie.title }}</mat-card-title>
                          </mat-card-header>

                          <mat-card-content>
                            <p class="key">Logline</p>
                            <p>{{ movie.logline }}</p>
                            <p class="key">Best distinctions</p>
                            <p *ngFor="let distinction of movie.bestDistinctions">{{ distinction }}</p>
                          </mat-card-content>
                          <mat-card-actions>
                            <a target="_blank" [attr.href]="movie.imdbUrl">More details on IMDB
                              <mat-icon>arrow_right_alt</mat-icon>
                            </a>
                          </mat-card-actions>
                        </mat-card>
                      </div>
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
              </mat-tab>
              <mat-tab label="Artistic">
                <h2>Artistic</h2>
                <h3>Information</h3>
                <p class="key">Story</p>
                <p class="value">{{ movie.artistic.scriptwriter }}</p>
                <p class="key">Music composer</p>
                <p class="value">{{ movie.artistic.musicComposer }}</p>
                <p class="key">Director of photography</p>
                <p class="value">{{ movie.artistic.directorOfPhotography }}</p>

                <hr class="large-hidden"/>

                <h3>Cast</h3>
                <div class="cast-sub-container" *ngFor="let cast of movie.artistic.cast">
                  <div class="picture-container">
                    <img [src]="cast.urlPicture">
                  </div>
                  <mat-card class="cast-card">
                    <mat-card-header class="cast-card-header">
                      <mat-card-subtitle class="key">{{ cast.name }}</mat-card-subtitle>
                      <mat-card-title class="value">{{ cast.characterName }}</mat-card-title>
                    </mat-card-header>

                    <mat-card-content class="cast-card-content">
                      <span class="cast-section-title">Remarkable movies</span>
                      <ul class="kv-list">
                        <li *ngFor="let movie of cast.remarquableMovies"><span class="key">{{ movie.title }}
                          ({{ movie.year }})</span> - <span class="value">{{ movie.character }}</span></li>
                      </ul>
                    </mat-card-content>
                  </mat-card>
                </div>
                <hr class="large-hidden"/>

                <h3>Long synopsis</h3>
                <p>{{ movie.artistic.longSynopsis }}</p>

                <mat-chip-list>
                  <mat-basic-chip *ngFor="let item of movie.artistic.downloads">
                    <a target="_blank" attr.href="{{ item.url }}">{{ item.anchor }}</a>
                  </mat-basic-chip>
                </mat-chip-list>

                <hr class="large-hidden"/>

                <h3>Director's bio</h3>
                <div class="cast-sub-container">
                  <div class="picture-container">
                    <img [src]="movie.artistic.directorPic">
                  </div>
                  <mat-card class="cast-card">
                    <mat-card-header class="cast-card-header">
                      <mat-card-subtitle class="key">{{ movie.artistic.directorName }}</mat-card-subtitle>
                    </mat-card-header>

                    <mat-card-content class="cast-card-content">
                      <span class="cast-section-title">Remarkable movies</span>
                      <ul class="kv-list">
                        <li *ngFor="let movie of movie.artistic.directorSelectiveFilmo"><span
                          class="key">{{ movie }}</span>
                        </li>
                      </ul>
                    </mat-card-content>
                    <mat-card-actions>
                      <a target="_blank" attr.href="#">Watch Films
                        <mat-icon>arrow_right_alt</mat-icon>
                      </a>
                    </mat-card-actions>
                  </mat-card>
                </div>

                <p>{{ movie.artistic.directorBio }}</p>

                <h3>Director's note</h3>
                <p>{{ movie.artistic.directorNote }}</p>

                <!-- NOT AVAILABLE FOR THE DEMO
                <h3>Producer's note</h3>
                <p>{{ movie.artistic.producerNote }}</p>
                -->

                <h3>Director's Filmography</h3>
                <div class="producer-history">
                  <mat-accordion>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          {{ movie.artistic.directorName }}
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div class="producer-history-sub-container"
                           *ngFor="let movie of movie.artistic.directorFilmography">
                        <div class="poster-container">
                          <img [src]="movie.posterUrl">
                        </div>
                        <mat-card class="movie-card">
                          <mat-card-header>
                            <mat-card-subtitle>{{ movie.productionYear }}</mat-card-subtitle>
                            <mat-card-title>{{ movie.title }}</mat-card-title>
                          </mat-card-header>

                          <mat-card-content>
                            <p class="key">Logline</p>
                            <p>{{ movie.logline }}</p>
                            <p class="key">Best distinctions</p>
                            <p *ngFor="let distinction of movie.bestDistinctions">{{ distinction }}</p>
                          </mat-card-content>
                          <mat-card-actions>
                            <a target="_blank" [attr.href]="movie.imdbUrl">More details on IMDB
                              <mat-icon>arrow_right_alt</mat-icon>
                            </a>
                          </mat-card-actions>
                        </mat-card>
                      </div>
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
              </mat-tab>
              <mat-tab label="Finance">
                <h2>Finance</h2>
                <h3>Financing plan</h3>
                <div class="financing-plan-panel">
                  <mat-accordion>
                    <mat-expansion-panel *ngFor="let financingCat of movie.finance.financingPlan | keyvalue">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          {{ financingCat.key }}
                        </mat-panel-title>
                        <mat-panel-description>
                          {{ sumItems(financingCat.value, 'amount') | currency:'EUR':'symbol' }}
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <table>
                        <thead>
                        <tr>
                          <td>Name</td>
                          <td>Finance. type</td>
                          <td>Amount</td>
                          <td>Status</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of financingCat.value">
                          <td>{{ item.name }}</td>
                          <td>{{ item.financementType }}</td>
                          <td>{{ item.amount | currency:'EUR':'symbol' }}</td>
                          <td>{{ item.status }}</td>
                        </tr>
                        </tbody>
                      </table>
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
                <h3>Budget</h3>
                <mat-chip-list>
                  <mat-basic-chip *ngFor="let item of movie.finance.spendingsCategories">{{ item }}</mat-basic-chip>
                </mat-chip-list>

                <img style="width: 100%;" [src]="movie.finance.graphs.budget">

                <table class="budget-table">
                  <thead>
                  <tr>
                    <td><span class="key">TOTAL BUDGET</span></td>
                    <td class="currency-display"><span
                      class="value">{{ movie.finance.estimatedBudget[movie.finance.estimatedBudget.length - 1].total | currency:'EUR':'symbol' }}</span>
                    </td>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let item of movie.finance.estimatedBudget">
                    <td class="category-display">{{ item.category }}</td>
                    <td class="currency-display">{{ item.total | currency:'EUR':'symbol'}}</td>
                  </tr>
                  </tbody>
                </table>
                <div class="btn-container">
                  <button class="export-btn" mat-raised-button>Export all in Excel</button>
                </div>
              </mat-tab>
              <mat-tab label="Waterfall">
                <h2>WATERFALL</h2>
                <h3>Investment proposal</h3>
                <mat-chip-list>
                  <mat-basic-chip
                    *ngFor="let item of movie.waterfall.investmentProposals">{{ item.investor }}</mat-basic-chip>
                </mat-chip-list>

                <table class="waterfall-table">
                  <thead>
                  <tr>
                    <td>Label</td>
                    <td>Investment</td>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td class="label">Total to finance</td>
                    <td class="amount">{{ movie.waterfall.investmentProposals[0].requested | currency:'EUR':'symbol' }}</td>
                  </tr>
                  <tr>
                    <td class="label">Premium</td>
                    <td class="amount">{{ movie.waterfall.investmentProposals[0].premium | number : '1.2-2' }} %</td>
                  </tr>
                  <tr>
                    <td class="label">Backend</td>
                    <td class="amount">{{ movie.waterfall.investmentProposals[0].backend | number : '1.2-2' }} %</td>
                  </tr>
                  <tr>
                    <td class="label">Minimum Ticket</td>
                    <td class="amount">{{ movie.waterfall.investmentProposals[0].minimum | currency:'EUR':'symbol' }}</td>
                  </tr>
                  <tr>
                    <td class="label">Breakeven</td>
                    <td class="amount">{{ movie.waterfall.investmentProposals[0].breakeven | currency:'EUR':'symbol' }}</td>
                  </tr>
                  <tr>
                    <td class="label">Sales Needed For First Euro Recuperation</td>
                    <td
                      class="amount">{{ movie.waterfall.investmentProposals[0].salesNeeded | currency:'EUR':'symbol' }}</td>
                  </tr>
                  <tr>
                    <td class="label">ROI - Average Sales Scenario</td>
                    <td class="amount">{{ movie.waterfall.investmentProposals[0].potentialRevenues | number : '1.2-2' }}
                      %
                    </td>
                  </tr>
                  <tr>
                    <td class="label">ROI - High Sales Scenario</td>
                    <td class="amount">{{ movie.waterfall.investmentProposals[0].bestCase | number : '1.2-2' }} %</td>
                  </tr>
                  <tr>
                    <td class="label">ROI - Low Sales Scenario</td>
                    <td class="amount">{{ movie.waterfall.investmentProposals[0].worstCase | number : '1.2-2' }} %</td>
                  </tr>
                  </tbody>
                </table>

                <h3>Sales agent</h3>
                <p>
                  <span class="key">Guaranteed Minimum</span>
                  <span class="value">{{ movie.waterfall.mg | currency:'EUR':'symbol' }}</span>
                </p>
                <p>
                  <span class="key">Maxium fees</span>
                  <span class="value">{{ movie.waterfall.fees | currency:'EUR':'symbol' }}</span>
                </p>
                <p>
                  <span class="key">Commision</span>
                  <span class="value">{{ movie.waterfall.commission | number : '1.2-2' }} %</span>
                </p>

                <h3>Schema</h3>
                <mat-chip-list>
                  <mat-basic-chip *ngFor="let item of movie.waterfall.territories">{{ item }}</mat-basic-chip>
                </mat-chip-list>
                <img style="width: 100%;" [src]="movie.waterfall.graphs.waterfall">

                <!--<h3>Repartition</h3>
                  TODO
                -->

                <div class="btn-container">
                  <button class="export-btn" mat-raised-button>Export all in Excel</button>
                </div>
              </mat-tab>
              <mat-tab label="Sales">
                <h2>SALES</h2>
                <h3>Information</h3>
                <p>
                  <span class="key">Territories</span>
                  <span class="value">{{ movie.sales.territories}}</span>
                </p>
                <p>
                  <span class="key">Gross Receipts - Average Sales Scenario</span>
                  <span class="value">{{ movie.sales.potentialRevenues | currency:'EUR':'symbol' }}</span>
                </p>
                <p>
                  <span class="key">Gross Receipts - Best Sales Scenario</span>
                  <span class="value">{{ movie.sales.bestCase | currency:'EUR':'symbol' }}</span>
                </p>
                <p>
                  <span class="key">Gross Receipts - Worst Sales Scenario</span>
                  <span class="value">{{ movie.sales.worstCase | currency:'EUR':'symbol' }}</span>

                </p>
                <p>
                  <span class="key">Exchange rate</span>
                  <span class="value">{{ movie.sales.exchangeRate }}</span>
                </p>

                <h3>Map</h3>
                <img style="width: 100%;" [src]="movie.sales.graphs.map">

                <mat-accordion class="sales-accordion">
                  <mat-expansion-panel *ngFor="let region of movie.sales.salesEstimates | keyvalue">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        {{ region.key }}
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <table class="sales-table">
                      <thead>
                      <tr>
                        <td>Country</td>
                        <td>Distributor</td>
                        <td>Low</td>
                        <td>Mid</td>
                        <td>High</td>
                        <td>Done</td>
                        <td>Currency</td>
                      </tr>
                      <tr>
                        <td colspan="2">Total</td>
                        <td>{{ sumItems(region.value, 'low') | currency:'EUR':'symbol' }}</td>
                        <td>{{ sumItems(region.value, 'mid') | currency:'EUR':'symbol' }}</td>
                        <td>{{ sumItems(region.value, 'high') | currency:'EUR':'symbol' }}</td>
                        <td>{{ sumItems(region.value, 'done') | currency:'EUR':'symbol' }}</td>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let item of region.value">
                        <td>{{ item.country }}</td>
                        <td>{{ item.distributor }}</td>
                        <td>{{ item.low | currency:item.currency:'symbol' }}</td>
                        <td>{{ item.mid | currency:item.currency:'symbol' }}</td>
                        <td>{{ item.high | currency:item.currency:'symbol' }}</td>
                        <td>{{ item.done | currency:item.currency:'symbol' }}</td>
                      </tr>
                      </tbody>
                    </table>
                  </mat-expansion-panel>
                </mat-accordion>

                <div class="btn-container">
                  <button class="export-btn" mat-raised-button>Export all in Excel</button>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </main>
    </ng-container>
  </ng-container>
</ng-container>

<ng-template #loading>
  <main fxLayout="row" fxLayoutAlign="center">
    <mat-progress-spinner
      class="spinner"
      color="primary"
      mode="indeterminate"
      diameter="60"
    >
    </mat-progress-spinner>
  </main>
</ng-template>

<ng-template #notEnoughTokens>
  <main fxLayout="row" fxLayoutAlign="center">
    <mat-card>
      <div class="flex-content not-enough-tokens">
        <mat-card-content class="icon">
          <mat-icon>error</mat-icon>
        </mat-card-content>
        <mat-card-content>
          Not Enough Tokens
        </mat-card-content>
      </div>
    </mat-card>
  </main>
</ng-template>

<financing-explorer-footer></financing-explorer-footer>
