<financing-explorer-header>
  <label>Leos Carax</label>
  <h1>Annette</h1>

  <label>Logline</label>
  <p>A stand-up comedian, and his opera singer wife, have a 2 year old daughter with a surprising gift.</p>
</financing-explorer-header>

<main fxLayout="row" fxLayoutAlign="center">
  <div class="col-1">
    <img src="https://fakeimg.pl/407x542/" alt="movie cover">
    <financing-explorer-financing-details></financing-explorer-financing-details>

    <div class="funding-status">
      <div class="left-budget">
        <h3>
          Funded Budget
        </h3>
        <h4>
          $7,9M
        </h4>
        <h5>
          <span class="key">Goal Budget:</span> <span class="value">$14.9M</span>
        </h5>
      </div>
      <div class="right-percent">
        <mat-progress-spinner
          class="spinner"
          color="primary"
          mode="determinate"
          value="62"
          diameter="120"
          strokeWidth="15"
        >
        </mat-progress-spinner>
        <div class="progress-value">62 %</div>
      </div>
    </div>
    <div class="call-to-action">
      <div class="owner">
        <div class="pic">
          <img src="https://fakeimg.pl/74x74/" alt="movie cover">
        </div>
        <div class="details">
          <h3>Leos Carax</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et rutrum libero, at feugiat lectus.
            Integer pulvinar blandit nulla sagittis mattis. Sed scelerisque eu leo maximus placerat.
          </p>
        </div>
      </div>
      <div class="action contact">
        Contact Producer's Team
      </div>
      <div class="action invest">
        Investment
      </div>
      <div class="action download">
        Download scenario
      </div>
    </div>
    <div class="contributions">
      <h2>Contributions</h2>
      <div class="contribution">
        <h3>$100K and more</h3>
        <h4 class="key">Contribution title</h4>
        <p class="value">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris consequat augue vel ante congue sodales eu ut
          mi. Cras quis lacus sit amet dui vulputate blandit. Aliquam dignissim nibh felis, in pharetra libero tempus
          nec.
        </p>
        <h5>5 contributors</h5>
      </div>
      <div class="contribution">
        <h3>$500K and more</h3>
        <h4 class="key">Contribution title</h4>
        <p class="value">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris consequat augue vel ante congue sodales eu ut
          mi. Cras quis lacus sit amet dui vulputate blandit. Aliquam dignissim nibh felis, in pharetra libero tempus
          nec.
        </p>
        <h5>5 contributors</h5>
      </div>
    </div>
  </div>
  <div class="col-2">
    <div class="main-information">
      <h2>Principales Informations</h2>
      <div class="summary">
        <h3>About Film</h3>
        <ul class="kv-list">
          <li>
            <span class="key">Directed By</span> <span class="value">Leos Carax</span>
          </li>
          <li>
            <span class="key">Produced By</span> <span class="value">CG Cinéma, Scope Pictures, Delta, Kinology</span>
          </li>
          <li>
            <span class="key">Cast</span> <span class="value">Leos Carax</span>
          </li>
          <li>
            <span class="key">Product Stage</span> <span class="value">Leos Carax</span>
          </li>
          <li>
            <span class="key">International Sales</span> <span class="value">Leos Carax</span>
          </li>
        </ul>
      </div>
      <div class="synopsis">
        <h3>Synopsis</h3>
        <p>
          Los Angeles, nowadays. Henry is a stand-up comedian who wants to make people laugh. Ann is a famous opera
          singer, who performs to audiences across the United States. Together, they live a happy and glamorous life,
          until the day an unexpected event disrupts their quiet life: the birth of their first child Annette. A
          mysterious baby, the little girl’s arrival leads Henry towards a terrible spiral - a plunge that takes him
          into
          a melancholic world haunted by ghosts and memories of a dark past.
        </p>
      </div>
      <div class="assets">
        <h3>Key assets of the project</h3>
        <ul>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent placerat sollicitudin ligula. Sed a
            porta libero. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          </li>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent placerat sollicitudin ligula. Sed a
            porta libero. Orci
          </li>
          <li>Lorem ipsum dolo</li>
        </ul>
      </div>
      <div class="keywords">
        <h3>Keywords</h3>
        <mat-chip-list>
          <mat-basic-chip>Leos Carax</mat-basic-chip>
          <mat-basic-chip>Comédie Musicale</mat-basic-chip>
          <mat-basic-chip>Chanteuse</mat-basic-chip>
          <mat-basic-chip>Opéra</mat-basic-chip>
          <mat-basic-chip>Adam Driver</mat-basic-chip>
          <mat-basic-chip>Michelle Williams</mat-basic-chip>
        </mat-chip-list>
      </div>
    </div>
    <div class="data">
      <mat-tab-group>
        <mat-tab label="Production">
          <h2>Production</h2>
          <h3>Informations</h3>
          <p class="key">ISAN</p>
          <p class="value">?</p>

          <p class="key">Subvention / Partenaires officiels </p>
          <p class="value">CNC avance sur recette (2017) <b>450K€</b></p>

          <hr class="large-hidden"/>

          <h3>Producer's History</h3>
          <div class="producer-history">
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Kinology
                  </mat-panel-title>
                </mat-expansion-panel-header>
              </mat-expansion-panel>

              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    CG Cinéma
                  </mat-panel-title>
                </mat-expansion-panel-header>
              </mat-expansion-panel>

              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Scope Pictures
                  </mat-panel-title>
                </mat-expansion-panel-header>
              </mat-expansion-panel>

              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Delta
                  </mat-panel-title>
                </mat-expansion-panel-header>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </mat-tab>
        <mat-tab label="Artistic">
          <h1>Artistic</h1>
        </mat-tab>
        <mat-tab label="Finance">
          <h1>Finance</h1>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</main>

<financing-explorer-footer></financing-explorer-footer>
