header {
  padding: 100px 0;
  background-image: url('/assets/images/catalog-marketplace-banner.png');
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

movie-card {
  height: 390px;
  width: 310px;
  margin: 15px;
}

section {
  padding: 20px 100px;

  aside {
    position: sticky;
    top: calc(var(--toolbarHeight) + 20px);

    mat-card {
      max-height: calc(100vh - var(--toolbarHeight) - 40px);
      overflow: auto;
    }

    .movie-list {
      width: 100%;
    }

    .filter {
      width: 500px;
    }

    .filter-checkboxes {
      height: 270px;
      flex-wrap: wrap;
    }

    .filter-checkboxes-media {
      height: 260px;
      flex-wrap: wrap;
    }
  }

  article {
    width: 100%;
    mat-divider {
      width: 70%;
    }

    movie-card {
      height: auto;
      width: 310px;
      margin: 15px;
    }

    movie-display-list {
      width: 100%;
      cursor: pointer;
    }
  }

}
