<mat-sidenav-container>
  <!-- Sidenav -->
  <!-- <mat-sidenav #sidenav [opened]="!!(user$ | async)" mode="side"> -->
  <mat-sidenav [opened]="true" mode="side">
    <category-list *ngIf="(template$ | async) as template" [template]="template" name="Delivery" (save)="openDialog()"></category-list>
  </mat-sidenav>
  <!-- Content -->
  <mat-sidenav-content>
    <template-form
      *ngFor="let materials of (template$ | async | keyvalue)"
      [materials]="materials.value"
      [category]="materials.key"
    ></template-form>
  </mat-sidenav-content>
</mat-sidenav-container>
