@import url(~fullpage.js/dist/fullpage.min.css);

financing-explorer-navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;

  //float: left;
  width: 100%;
}

#movie1 {
  background: url(https://cdn.stocksnap.io/img-thumbs/960w/TJYCDEGD43.jpg);
  background-size: cover;
}

#movie2 {
  background: url(https://cdn.stocksnap.io/img-thumbs/960w/BTSUPXKEOG.jpg);
  background-size: cover;
}

#movie3 {
  background: url(https://cdn.stocksnap.io/img-thumbs/960w/URZSACVALJ.jpg);
  background-size: cover;
}
