<financing-explorer-header></financing-explorer-header>

<div class="content">
  <div class="movie-group">
    <mat-toolbar>
      <h3>Prestige Directors</h3>
      <button>See all category</button>
    </mat-toolbar>
    <div class="financing-movie-list">
      <financing-movie-card movieID="42"></financing-movie-card>
      <financing-movie-card movieID="42"></financing-movie-card>
      <financing-movie-card movieID="42"></financing-movie-card>
      <financing-movie-card movieID="42"></financing-movie-card>
    </div>
  </div>
</div>

<financing-explorer-footer></financing-explorer-footer>
