
.major-filters {
  display: flex;
  width: 80%;
  margin: auto;
  position: relative;
  top: -2rem;
  background-color: white;

  button {
    padding: 2rem;
    font-weight: 500;
  }

  button + button {
    border-left: 1px solid black;
  }
}
