// TODO #992: review all the design

mat-card.major-filters {
  padding: 0;
  display: flex;
  width: 80%;
  margin: auto;
  position: relative;
  top: -2rem;
  background-color: white;

  button {
    flex-grow: 1;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-weight: 500;
  }

  button[aria-expanded="true"] {
    background-color: black;
    color: white;
  }

  button + button {
    border-left: 1px solid black;
  }
}

main {
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 10rem;

  h1 {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 0;
  }
}

.filter-by-wrapper {
  width: 100%;
  text-align: right;
}
