
//////////////
// PALETTES //
//////////////

$mat-light-bf-warn: (
  50 : #ffecef,
  100 : #ffcfd5,
  200 : #f49c9f,
  300 : #ec7679,
  400 : #f75557,
  500 : #fe453e,
  600 : #ef3a3d,
  700 : #dc3036,
  800 : #cf292f,
  900 : #c01c23,
  A100 : #ffffff,
  A200 : #fffdfd,
  A400 : #ffcbca,
  A700 : #ffb2b1,
  contrast: (
    50 : #24374E,
    100 : #24374E,
    200 : #FFFFFF,
    300 : #FFFFFF,
    400 : #FFFFFF,
    500 : #FFFFFF,
    600 : #FFFFFF,
    700 : #FFFFFF,
    800 : #FFFFFF,
    900 : #FFFFFF,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-light-bf-blue: (
  50 : #E9EAFF,
  100 : #C7CAFD,
  200 : #9FA8FC,
  300 : #7385FB,
  400 : #4E67F9,
  500 : #1A49F5,
  600 : #1440E9,
  700 : #0035DC,
  800 : #0028D2,
  900 : #0004C1,
  A100 : #ffffff,
  A200 : #e3e5ff,
  A400 : #b0b6ff,
  A700 : #969fff,
  contrast: (
    50 : #24374E,
    100 : #24374E,
    200 : #FFFFFF,
    300 : #FFFFFF,
    400 : #FFFFFF,
    500 : #FFFFFF,
    600 : #FFFFFF,
    700 : #FFFFFF,
    800 : #FFFFFF,
    900 : #FFFFFF,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-light-bf-red: (
  50 : #FFEEF1,
  100 : #FFD5D9,
  200 : #F8A8A5,
  300 : #F28882,
  400 : #FF6E61,
  500 : #FF6247,
  600 : #F75B48,
  700 : #E45141,
  800 : #D74B3B,
  900 : #C8412F,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffd3cf,
  A700 : #ffbbb6,
  contrast: (
    50 : #24374E,
    100 : #24374E,
    200 : #FFFFFF,
    300 : #FFFFFF,
    400 : #FFFFFF,
    500 : #FFFFFF,
    600 : #FFFFFF,
    700 : #FFFFFF,
    800 : #FFFFFF,
    900 : #FFFFFF,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

////////////////
// BACKGROUND //
////////////////
// Background palette for light themes.
$bf-light-background: (
  app-bar:    #FFF,
  status-bar: #FFF,
  background: #FAFAFA,
  disabled-button: #B9C2CB,
  hover:      rgba(mat-color($mat-light-bf-blue, 400), 0.05),
  card:       #FFF,
  dialog:     #FFF,
  raised-button: white,
  focused-button: #FFF,
  selected-button: #FFF,
  selected-disabled-button: #B9C2CB,
  disabled-button-toggle: #B9C2CB,
  unselected-chip: map_get($mat-grey, 300),
  disabled-list-option: #B9C2CB,

  // Custom variables
  border:     #E4E4E4,
  stroked-button: map-get($mat-light-bf-blue, 50),
);

////////////////
// FOREGROUND //
////////////////
// Foreground palette for light themes.
$bf-light-foreground: (
  base:              mat-color($mat-light-bf-blue, 400),
  text:              #000,
  divider:           #D8D8D8,
  dividers:          #D8D8D8,
  disabled:          #5F697A,
  disabled-text:     #5F697A,
  disabled-button:   #5F697A,
  elevation:         #5F697A,
  hint-text:         #B9C2CB,
  secondary-text:    #5F697A,
  icon:              #5F697A,
  icons:             #5F697A,
  slider-min:        rgba(black, 0.87),
  slider-off:        rgba(black, 0.26),
  slider-off-active: rgba(black, 0.38),

  // Custom variables
  dynamic:           #5F697A,
  subheading:        #4D5664,
  link:              mat-color($mat-light-bf-blue, 500),
);

///////////
// THEME //
///////////

$bf-light-primary: mat-palette($mat-light-bf-blue, 400, 50, 700);
$bf-light-accent: mat-palette($mat-light-bf-red, 500, 50, 800);
$bf-light-warn: mat-palette($mat-light-bf-warn, 500);

$bf-light-theme: (
  // Standard
  primary: $bf-light-primary,
  accent: $bf-light-accent,
  warn: $bf-light-warn,
  is-dark: false,
  foreground: $bf-light-foreground,
  background: $bf-light-background,
);
