@import url('https://fonts.googleapis.com/css?family=Roboto');

// TODO #974: replace color

header {
  background-color: #222;
}

::ng-deep {
  .search-bar {
    width: 70%;

    .mat-form-field-underline {
      background-color: rgba(255, 255, 255, 0.6);
    }
  }
}

.hero {
  padding-top: 9vh;
  padding-bottom: 9vh;

  min-height: 55vh;
  display: flex;
  justify-content: flex-end;

  .content {
    color: #FFF;
    margin: auto;
    text-align: center;
  }
}

:host ::ng-deep label {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 5px;
  color: white;
}

:host ::ng-deep h1 {
  font-size: 6rem;
  margin-top: 0;
  text-transform: uppercase;
  margin-bottom: 7vh;
  font-weight: 900;
  color: white;
}

:host ::ng-deep p {
  margin: 1rem auto auto;
  width: 60%;
  text-align: center;
  color: white;
}
