@import url('https://fonts.googleapis.com/css?family=Roboto');

header {
  background-color: #222;
}

.hero {
  padding-top: 9vh;
  padding-bottom: 9vh;

  min-height: 55vh;
  display: flex;
  justify-content: flex-end;
  //position: relative;

  .content {
    color: #FFF;
    margin: auto;
    text-align: center;
    // margin-right: 10%;
    //position: absolute;
    //right: 10%;
    //top: 10%;

    label {
      text-transform: uppercase;
      font-weight: 300;
    }

    h1 {
      font-size: 6rem;
      margin-top: 0;
      text-transform: uppercase;
      margin-bottom: 7vh;
    }

    p {
      margin: 1rem auto auto;
      width: 60%;
      text-align: center;
    }
  }
}
