<header>
  <mat-toolbar class="explorer-toolbar">
    <span class="spacer"></span>

    <a routerLink="/explorer">Home</a>
    <a routerLink="/explorer">All Projects</a>
    <a routerLink="/explorer">About</a>
    <a routerLink="/explorer">Contact</a>
    <a routerLink="/explorer">Face</a>
  </mat-toolbar>

  <div class="hero">
    <div class="content">
      <h3>Surtitre</h3>
      <h2>Mise en Avant</h2>

      <h4>Sous Titre</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et rutrum libero, at feugiat lectus. Integer
        pulvinar blandit nulla sagittis mattis.
      </p>
    </div>
  </div>
</header>
