<header>
  <mat-toolbar class="explorer-toolbar">
    <span class="spacer"></span>

    <a routerLink="/explorer">Home</a>
    <a routerLink="/explorer">All Projects</a>
    <a routerLink="/explorer">Compare</a>
    <a routerLink="/explorer">About</a>
    <a routerLink="/explorer">Contact</a>
    <a routerLink="/explorer">Magnifier</a>
    <a routerLink="/explorer">Form</a>
  </mat-toolbar>

  <div class="hero">
    <div class="content">
      <label>Leos Carax</label>
      <h1>Annette</h1>

      <label>Logline</label>
      <p>
        A stand-up comedian, and his opera singer wife, have a 2 year old daughter with a surprising gift.
      </p>
    </div>
  </div>
</header>
