<section class="container" fxLayout="row wrap" fxLayoutAlign="space-around">
  <article fxFlex.gt-md="25" fxFlex.gt-sm="50" fxFlex="100">
    <mat-card class="card-add" mat-card class="example-card">
      <mat-card-actions>
        <button (click)="addTemplateDialog()" color="primary" mat-icon-button matRipple>
          <mat-icon class="icon-add">add_circle</mat-icon>
          Add Template
        </button>
      </mat-card-actions>
    </mat-card>
  </article>
  <article
    fxFlex.gt-md="25"
    fxFlex.gt-sm="50"
    fxFlex="100"
    *ngFor="let template of (templates$ | async)"
  >
    <mat-card class="example-card">
      <button class="trigger" mat-icon-button [matMenuTriggerFor]="actions">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #actions="matMenu">
        <button mat-menu-item routerLink="../{{template.id}}">
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
        <button mat-menu-item (click)="deleteTemplate(template.id)">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
      <img mat-card-image src="https://via.placeholder.com/150.png" alt="Preview of template" />
      <mat-card-content>
        <mat-card-title>
          {{ template.name }}
        </mat-card-title>
      </mat-card-content>
    </mat-card>
  </article>
</section>
