.mat-nav-list, .mat-list, .mat-selection-list {
  border-radius: 10px;
}

.light-theme .mat-nav-list,
.light-theme .mat-list,
.light-theme .mat-selection-list {
  background-color: mat-color($bf-light-background, app-bar);
  border: 1px solid mat-color($bf-light-background, border);
}

.active-list-item mat-icon {
  color: mat-color($bf-light-primary) !important;
}
