.mat-nav-list {
  border-radius: 10px;
  border: 1px solid var(--borderGrey);
}

.mat-list {
  border-radius: 10px;
  border: 1px solid var(--borderGrey);
}

.mat-selection-list{
  border-radius: 10px;
  border: 1px solid var(--borderGrey);
}
