mat-card {
  border-radius: 10px !important;
}

mat-card-actions {
  position: absolute;
  padding: 0;
  bottom: 8px;
  right: 56px;
}

@include mobile {
  mat-card-actions {
    bottom: 0;
    right: 0;
  }
}

@include tablet {
  mat-card-actions {
    bottom: 0;
    right: 0;
  }
}
