.dark-theme mat-card {
  border-radius: 10px;
  background-color: rgba(249,248,255,0.05);
  border: 1px solid mat-color($bf-dark-foreground, divider);
}

.light-theme mat-card {
  border-radius: 10px !important;
  box-shadow: none !important;
  border: 1px solid mat-color($bf-light-foreground, divider) !important;
}
