mat-button { // TODO: Get rid of the !important and apply this on mat-raised-button
  padding: 8px 24px !important;
  font-size: 12px !important;
}

.mat-icon-button {
  padding: 0 !important;
}

.light-theme {

  a {
    color: mat-color($bf-light-foreground, link);
  }

  .mat-stroked-button {
    border-radius: 50px;
    box-shadow: none;
    border: none;
    background-color: mat-color($bf-light-background, stroked-button);
    }

  [bf-icon] {
    color: mat-color($bf-light-foreground, icon);
  }
}
