.mat-nav-list {
  border-radius: 10px;
}

.mat-list {
  border-radius: 10px;
}

.light-theme .mat-nav-list,
.light-theme .mat-list,
.light-theme .mat-selection-list {
  background-color: mat-color($bf-light-background, app-bar);
  border: 1px solid var(--borderGrey);
}

.mat-selection-list{
  border-radius: 10px;
}

.active-list-item mat-icon {
  color: mat-color($blockframes-theme-primary) !important;
}
