mat-form-field {
  &.ng-valid {
    .mat-form-field-wrapper {
      padding-bottom: 1.25em;
    }
  }

  &.ng-invalid,
  &.mat-form-field-invalid {
    .mat-form-field-wrapper {
      padding-bottom: 7px;
    }
  }

  &.ng-untouched {
    .mat-form-field-wrapper {
      padding-bottom: 1.25em;
    }
  }

  .mat-form-field {
    &-underline {
      position: static;
    }

    &-subscript-wrapper {
      position: static;
    }
  }
}

.light-theme .mat-form-field-appearance-outline {
  .mat-form-field-outline {
    color: mat-color($bf-light-foreground, dynamic);
  }
  .mat-form-field-outline-thick {
    color: mat-color($bf-light-primary);
    .mat-form-field-outline-start,
    .mat-form-field-outline-end,
    .mat-form-field-outline-gap {
      border-width: 1px;
    }
  }

}

.dark-theme .mat-form-field-appearance-outline {
  .mat-form-field-outline {
    color: mat-color($bf-dark-foreground, dynamic);
  }
  .mat-form-field-outline-thick {
    color: mat-color($bf-dark-primary);
    .mat-form-field-outline-start,
    .mat-form-field-outline-end,
    .mat-form-field-outline-gap {
      border-width: 1px;
    }
  }

}
