button { // TODO: Get rid of the !important and apply this on mat-raised-button
  padding: 8px 24px !important;
  font-size: 12px !important;
  font-family: 'Montserrat', 'Helvetica Neue', sans-serif !important; // Only for menu in movie card, WHY?
}

.mat-icon-button {
  padding: 0 !important;
}

button:disabled { // TODO: Get rid of the !important and apply this on mat-raised-button
  color: var(--lightGrey)!important;
  border: none!important;
}

.mat-flat-button {
  border-radius: 20px !important;
  background-color: var(--flatButtonGrey) !important;
  color: var(--primary) !important;
  mat-icon {
    font-size: 18px;
    font-weight: 600;
  }
}
