.dark-theme .mat-accordion .mat-expansion-panel,
.light-theme .mat-accordion .mat-expansion-panel {
  box-shadow: none;
  border-radius: 0;
  background-color: transparent;
}

.dark-theme .mat-accordion .mat-expansion-panel {
  border-bottom: solid 1px mat-color($bf-dark-foreground, divider);
}

.light-theme .mat-accordion .mat-expansion-panel {
  border-bottom: solid 1px mat-color($bf-light-foreground, divider);
}

.mat-accordion .mat-expansion-panel:last-of-type {
  border-bottom: none;
}

.dark-theme .mat-autocomplete-panel:not([class*=mat-elevation-z]) {
  background: #02000F;
}

.dark-theme .mat-datepicker-content .mat-calendar {
  background: #02000F;
}
