mat-button { // TODO: Get rid of the !important and apply this on mat-raised-button
  padding: 8px 24px !important;
  font-size: 12px !important;
  font-family: 'Montserrat', 'Helvetica Neue', sans-serif !important; // Only for menu in movie card, WHY?
}

.mat-icon-button {
  padding: 0 !important;
}

button:disabled { // TODO: Get rid of the !important and apply this on mat-raised-button
  color: var(--lightGrey)!important;
  border: none!important;
}

.mat-stroked-button {
  border-radius: 50px !important;
  box-shadow: none !important;
  border-color: transparent !important;
  background-color: mat-color($bf-light-background, raised-button);
}

.mat-flat-button {
  border-radius: 50px !important;
  color: var(--primary) !important;
  box-shadow: none !important;
  border-color: transparent !important;
  background-color: var(--flatButtonGrey) !important;
}


