// input border
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: var(--primary) !important;
}

// input left borders
.mat-form-field-appearance-outline .mat-form-field-outline-start {
  border-radius: 0px !important;
}

// input right borders
.mat-form-field-appearance-outline .mat-form-field-outline-end {
  border-radius: 0px !important;
}
