<!-- TODO(#838): Use HostBinding instead of root div -->
<div test-id="content">

  <header fxLayout="column" fxLayoutAlign="center center">
    <h1 class="mat-display-3">Welcome to Bigger Boat</h1>
    <p class="mat-body-1">
        Bigger Boat, one of the Blockframes suite of DApps, is a beta peer-to-peer platform for trading film, TV and series rights between Sales Agents and Content Buyers, facilitating the licensing process through its database of rights to films and TV programs and executing instantaneously the waterfall on all revenue.
    </p>
    <a mat-raised-button color="primary" test-id="discover" routerLink="/layout/o/catalog/search">View our film catalogue</a>
  </header>

  <section fxLayout="column" fxLayoutAlign="start center">
    <ng-container *ngFor="let section of moviesBySections$ | async; let i = index">
      <!-- We want by every iteration of the keys array that the text switches side-->
      <article [fxLayout]="layout(i)" fxLayoutAlign="center start">
        <aside fxLayout="column" [fxLayoutAlign]="alignment(i)" fxLayoutGap="20px">
          <h4 class="mat-display-2">{{ section.title }}</h4>
          <span>{{ section.subline}} </span>
          <a mat-raised-button test-id="seeMore1" color="primary" routerLink="/layout/o/catalog/search">See more</a>
        </aside>
        <mat-carousel test-id="mat-carousel1" proportion="50" [hideArrows]="true" [hideIndicators]="true">
          <!-- We only want to use the first image in the promotinalElements.images array-->
          <ng-container *ngFor="let movie of section.movies">
            <mat-carousel-slide #matCarouselSlide [image]="movie.main.poster" [hideOverlay]="true">
              <div fxLayout="column" fxLayoutAlign="end start" class="overlay">
                <footer fxLayout="column" fxLayoutAlign="center start">
                  <h2 class="mat-h2">{{ movie.main.title.original }}</h2>
                  <span class="mat-body-1" *ngFor="let director of movie.main.directors">{{ director.firstName }}
                    {{ director.lastName }}</span>
                  <span class="mat-body-2">Production year: {{ movie.main.productionYear }}</span>
                </footer>
              </div>
            </mat-carousel-slide>
          </ng-container>
        </mat-carousel>
      </article>
    </ng-container>
  </section>

</div>
