<h1>Annette</h1>

<div>
  <p>Lancé le 02 Avril 2019</p>
  <p>Date limite: 24 Jui. 2019</p>
</div>

<table>
  <tbody>
  <tr>
    <td>Goal Budget</td>
    <td>Engagé</td>
    <td>Financé à</td>
    <td>Contributeurs</td>
    <td>Temps Restant</td>
  </tr>
  <tr>
    <td>70&nbsp;000&nbsp;€</td>
    <td>150&nbsp;000&nbsp;€</td>
    <td>267%</td>
    <td>3&nbsp;459</td>
    <td>4&nbsp;days</td>
  </tr>
  </tbody>
</table>

<div class="stats">
  <mat-grid-list cols="2">
    <mat-grid-tile>
      <h2>Evolution de financement</h2>
      <img src="https://fakeimg.pl/779x411/" alt="stats"/>
    </mat-grid-tile>
    <mat-grid-tile>
      <h2>Engagement</h2>
      <mat-card class="">
        <mat-card-header>
          <mat-card-title>
            View
          </mat-card-title>
          <mat-card-subtitle>
            Depuis la création du média
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <h2>86</h2>
        </mat-card-content>
      </mat-card>
      <mat-card class="">
        <mat-card-header>
          <mat-card-title>
            Scénario Downloads
          </mat-card-title>
          <mat-card-subtitle>
            Dont 21 demandes
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <h2>12</h2>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>


</div>
