
main {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 10rem;
}

h1 {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 1rem;
}

.dates {
  margin-top: 1rem;
  margin-bottom: 1rem;

  display: flex;

  .launch {
    width: 49%;
    text-align: right;
  }

  .sep {
    width: 2%;
    text-align: center;
  }

  .end {
    width: 49%;
    text-align: left;
  }
}

.financing-data {
  table {
    width: 70%;
    margin: auto;

    // TODO #974: replace color

    .keys td {
      color: #323232;
      opacity: 0.6;
    }

    .values td {
      font-size: 1.8rem;
      font-weight: 800;
      color: #323232;

      &.goal {
        color: #48BCF7;
      }

      &.engaged {
        color: #1A48F5;
      }
    }
  }
}

.stats {
  display: flex;

  .diagram {
    width: 66%;
    padding: 1rem;

    img {
      width: 100%;
    }
  }

  .data {
    width: 33%;
    padding: 1rem;
  }
}

.nationalities {
  display: flex;

  .col {
    width: 50%;
    padding: 1rem;
  }

  ::ng-deep {
    img {
      width: 100%;
    }
  }
}

.history {
  .filters {
    text-align: right;
  }
}
