<h1>Annette</h1>

<div>
  <p>Lancé le 02 Avril 2019</p>
  <p>Date limite: 24 Jui. 2019</p>
</div>

<table>
  <tbody>
  <tr>
    <td>Goal Budget</td>
    <td>Engagé</td>
    <td>Financé à</td>
    <td>Contributeurs</td>
    <td>Temps Restant</td>
  </tr>
  <tr>
    <td>70&nbsp;000&nbsp;€</td>
    <td>150&nbsp;000&nbsp;€</td>
    <td>267%</td>
    <td>3&nbsp;459</td>
    <td>4&nbsp;days</td>
  </tr>
  </tbody>
</table>

<div class="stats">
  <div class="diagram">
    <h2>Evolution de financement</h2>
    <img src="https://fakeimg.pl/779x411/" alt="stats"/>
  </div>
  <div class="data">
    <h2>Engagement</h2>
    <financing-card-stat icon="visibility" name="View"
                         subtitle="Depuis la création du média"
                         value="86"
    ></financing-card-stat>
    <financing-card-stat icon="cloud_download" name="Scénario Downloads"
                         subtitle="Dont 21 demandes"
                         value="12"
    ></financing-card-stat>
  </div>
</div>
