:host {
  display: flex;
}

header {
  position: relative;
  .background-movie {
    height: 300px;
    overflow: hidden;
    color: white;
    width: 100%;
    filter: blur(1.5rem);
    background-size: cover;
    background-position: center center;
    // .header-img {
    //   display: block;
    //   max-width: 100%;
    //   height: auto !important;
    //   display: block;
    //   width: 100%;
    //   max-width: 100%;
    //   height: auto !important;
    // }
  }
  div {
    h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    b {
      position: absolute;
      top: 65%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

aside {
  width: 30%;
  padding: 10px;
}

.informations {
  width: 70%;
  padding: 10px;
}

article {
  padding: 10px 10px 10px 0px;
}

mat-divider {
  margin-left: 20px;
  width: 100%;
}

h2 {
  white-space: nowrap;
}

h3 {
  margin-bottom: 10px;
}

b {
  margin: 0px 15px 5px 0px;
}

span {
  white-space: nowrap;
}

ul {
  padding: 0;
  margin: 0;
}

.overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
