header {
  padding: 100px 0;
  // TODO: replace image when the real one is available.
  background-image: url('/assets/images/catalog-marketplace-banner.png');
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

section {
  padding: 20px 100px;

  aside {
    position: sticky;
    top: calc(var(--toolbarHeight) + 20px);

    mat-card {
      max-height: calc(100vh - var(--toolbarHeight) - 40px);
      overflow: auto;
    }
  }
}

mat-divider {
  width: 100%;
}

.filter {
  width: 500px;
}

.movies {
  width: 100%;
  height: auto;
}

.filter-checkboxes {
  height: 270px;
  flex-wrap: wrap;
}

.filter-checkboxes-media {
  height: 260px;
  flex-wrap: wrap;
}

movie-display-card-item {
  width: 320px;
  margin-bottom: 10px;
  cursor: pointer;
  outline: none;
}
