:host {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.page-content {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 35px;
}

section {
  width: 65%;
  flex: 1;
  padding: 10px;
}

.capitalized {
  text-transform: capitalize;
}

month-calendar {
  width: 100%;
}

main {
  width: 100%;
}

header {
  padding: 100px 0;
  // TODO: replace image when the real one is available.
  background-image: url('/assets/images/catalog-marketplace-banner.png');
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}

.filter-checkboxes-media {
  height: 260px;
  flex-wrap: wrap;
}

.filter-checkboxes-media {
  height: 260px;
  flex-wrap: wrap;
}
