:host {
  height: 100%;
  display: flex;
  flex-direction: row;
}

aside {
  min-width: 450px;
  width: 25%;
  padding: 10px;
}

section {
  width: 65%;
  flex: 1;
  padding: 10px;
}

.capitalized {
  text-transform: capitalize;
}

month-calendar {
  width: 100%;
}

main {
  width: 100%;
}

header {
  padding: 100px 0;
  // TODO: replace image when the real one is available.
  background-image: url('/assets/images/catalog-marketplace-banner.png');
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  div {
    h1,
    b {
      margin: 0;
      padding: 0;
    }
  }

.filter-checkboxes-media {
  height: 260px;
  flex-wrap: wrap;
}

.filter-checkboxes-media {
  height: 260px;
  flex-wrap: wrap;
}
