<mat-toolbar matRipple routerLink="form">
  <mat-icon>add</mat-icon>
  <h2>New Ip</h2>
</mat-toolbar>

<mat-nav-list>
  <mat-list-item [routerLink]="['form', ip.id]" *ngFor="let ip of (ipList$ | async)">
    <mat-checkbox (click)="$event.stopPropagation()"></mat-checkbox>
    <p >{{ ip.title }}</p>
  </mat-list-item>
  <mat-list-item routerLink="form" *ngIf="(ipForm$ | async)?.title as title">
    <mat-icon mat-list-icon>create</mat-icon>
    <p>{{ title }}</p>
  </mat-list-item>
</mat-nav-list>
