<table>
  <tbody>
  <tr class="bordered">
    <td colSpan="2">
      <span class="key">
      Waterfall Position Rating
      </span>
    </td>
    <td colSpan="2">
      <span class="value">
      Position A
      </span>
    </td>
  </tr>
  <tr>
    <td class="bordered">
      <span class="key">
      Estimate Low<br/>
      </span>
      <span class="value">
      $4M
      </span>
    </td>
    <td class="bordered">
      <span class="key">
      Estimate Low<br/>
      </span>
      <span class="value">
      $4M
      </span>
    </td>
    <td class="bordered">
      <span class="key">
      Estimate Low<br/>
      </span>
      <span class="value">
      $4M
      </span>
    </td>
    <td class="bordered">
      <span class="key">
      Estimate Low<br/>
      </span>
      <span class="value">
      $4M
      </span>
    </td>
  </tr>
  </tbody>
</table>
