<table>
  <tbody>
  <tr class="bordered">
    <td colSpan="2">
      <span class="key">
      Waterfall Position Rating
      </span>
    </td>
    <td colSpan="2">
      <span class="value">
        {{ movie?.principalInformations?.waterfallPosition }}
      </span>
    </td>
  </tr>

  <tr class="key">
    <td>
      Amount request for recovery
    </td>
    <td>
      Estimate High
    </td>
    <td>
      Minimum Amount Requested
    </td>
    <td>
      Director’s category
    </td>
  </tr>
  <tr class="value">
    <td>
      {{ movie?.principalInformations?.salesNeededForFirstEuroRecuperation }}
    </td>
    <td>
      {{ movie?.principalInformations?.estimatesHigh }}
    </td>
    <td>
      {{ movie?.principalInformations?.minAmountRequested }}
    </td>
    <td>
      {{ movie?.principalInformations?.directorsCategory }}
    </td>
  </tr>
  </tbody>
</table>
