.header-img {
  // TODO: replace image when the real one is available.
  background: url('/assets/fake-data/compare.png') no-repeat center center fixed;
  background-size: cover;
}

mat-divider {
  width: 100%;
}