<section>
  <mat-card>
    <mat-card-header>
      <mat-card-title>IP {{ ip.title }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <mat-card-header>
            <mat-card-title>Version</mat-card-title>
            <mat-card-subtitle>{{ ip.version }}</mat-card-subtitle>
          </mat-card-header>
        </mat-list-item>
        <mat-list-item>
          <mat-card-header>
            <mat-card-title>Synopsis</mat-card-title>
            <mat-card-subtitle>{{ ip.synopsis }}</mat-card-subtitle>
          </mat-card-header>
        </mat-list-item>
      </mat-list>
      <mat-card-actions>
        <button mat-raised-button color="secondary" routerLink="./edit">Edit</button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</section>
