@import '../movie-card/movie-card.component.scss';

mat-card {
  margin-bottom: 4rem;
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.swapVisual {
  mat-card-header {
    order: 2;
  }

  mat-card-content {
    order: 1;
  }
}

mat-card-header {
  width: 60%;
  min-height: 300px;
}

mat-card-title-group {
  // Tweaking the absolute positioning from movie-card, force everything with !important.
  top: unset !important;
  bottom: 0 !important;
  height: auto !important;
}

mat-card-content {
  width: 38%;
  font-size: 0.6rem;

  h3 {
    margin-bottom: 0.1rem;
  }

  section {
    margin: 0;
    width: 90%;
  }
}

table {
  width: 100%;
  font-size: 0.4rem;
}

mat-progress-bar {
  height: 6px;
  width: 100%;
}

.completed {
  margin-top: 0.8rem;
}

mat-card-title {
  font-size: 1.4rem !important;
}

a {
  font-size: 0.9rem;
}
