<mat-card class="">
  <div class="flex-content">
    <section class="icon">
      <mat-icon>attach_money</mat-icon>
    </section>
    <section class="datetime">
      <p class="date">08/04/2019</p>
      <p class="time">10:04:39</p>
    </section>
    <section class="summary">
      <b>Michel Michelle</b> s'est engagé à hauteur de 100K$ et a choisi <i>Devenir co-producteur du film</i>
    </section>
    <section class="details">
      <a href="#">Infos sur le contributeur</a>
    </section>
  </div>
</mat-card>
