<mat-card>
  <div class="flex-content">
    <mat-card-content class="icon">
      <mat-icon svgIcon="{{ icon }}"></mat-icon>
    </mat-card-content>
    <mat-card-content class="datetime">
      <p class="date">{{ date }}</p>
      <p class="time">{{ time }}</p>
    </mat-card-content>
    <mat-card-content class="summary">
      <ng-content></ng-content>
    </mat-card-content>
    <mat-card-actions [ngSwitch]="action">
      <a href="#" *ngSwitchCase="'info'">Infos sur le contributeur</a>
      <div *ngSwitchCase="'accept'">
        <button mat-flat-button color="primary">Accepter</button>
        <button mat-stroked-button color="primary">Refuser</button>
      </div>
    </mat-card-actions>
  </div>
</mat-card>
