<mat-card class="">
  <div class="flex-content">
    <section class="icon">
      <mat-icon>{{ icon }}</mat-icon>
    </section>
    <section class="datetime">
      <p class="date">{{ date }}</p>
      <p class="time">{{ time }}</p>
    </section>
    <section class="summary">
      <ng-content></ng-content>
    </section>
    <section class="action" [ngSwitch]="action">
      <a href="#" *ngSwitchCase="'info'">Infos sur le contributeur</a>
      <div *ngSwitchCase="'accept'">
        <button mat-flat-button color="primary">Accepter</button>
        <button mat-stroked-button color="primary">Refuser</button>
      </div>
    </section>
  </div>
</mat-card>
