@import "../../../../../../../styles/style";

:host {
  margin: 1rem;

  .flex-content {
    padding: 0.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  section.icon {
    width: 50px;
  }

  section.datetime {
    width: 5%;

    .date {
      font-size: 1.2rem;
      font-weight: 600;
      padding: 0;
      margin: 0;
    }

    .time {
      font-size: 0.8rem;
      font-weight: 400;
      padding: 0;
      margin: 0;
    }
  }

  section.summary {
    width: 45%;
  }

  section.action {
    width: 20%;
    text-align: center;

    a {
      text-decoration: none;
      font-size: 0.7rem;
      color: $primary;
    }

    button {
      margin-right: 0.5rem;
    }
  }
}
