.header-img {
  // TODO: replace image when the real one is available.
  background: url('/assets/fake-data/compare.png') no-repeat center center fixed;
  background-size: cover;
}

article {
  width: 100%;
  height: 800px;
  margin-bottom: 200px;
}

mat-carousel {
  width: 100%;

  .overlay {
    height: 100%;
  }
}
