<mat-card class="mat-elevation-z0">
  <mat-card-header class="poster-container">
    <img mat-card-lg-image src="https://fakeimg.pl/657x251/" alt="Movie Poster">
    <mat-card-title-group>
      <mat-card-subtitle class="subtitle">Prestige Directors</mat-card-subtitle>
      <div class="title">
        <mat-card-subtitle class="stroke">Prestige Directors</mat-card-subtitle>
        <mat-card-subtitle class="director-name">Director Name</mat-card-subtitle>
        <mat-card-title class="movie-title">Movie Name soooooo Long</mat-card-title>
      </div>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    
    <table>
      <thead>
        <tr>
          <th>Minimum amount requested <span class="value">$100 K</span></th>
          <th>Director's category <span class="value">Confirmed</span></th>
        </tr>
      </thead>
    </table>

    <section>
      <h3>Cast</h3>
      <p class="capitalize">adam driver, michelle williams</p>
    </section>

    <section>
      <h3>Logline</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Donec et rutrum libero, at feugiat lectus.
        Integer pulvinar blandit nulla sagittis mattis.
      </p>
    </section>
    
    <!-- <progress max="100" value="64"></progress> -->
    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    <div class="completed">64% compelted</div>

    <a routerLink="/explorer/movie/42">See this movie <mat-icon>arrow_right_alt</mat-icon></a>
  </mat-card-content>
</mat-card>
