<mat-card>
    <mat-card-title-group>
      <mat-card-title>Presitge Directors</mat-card-title>
      <img mat-card-image src="https://fakeimg.pl/657x251/" alt="Photo of a Shiba Inu">
    </mat-card-title-group>
  <mat-card-content>
    <div>Presitge Directors</div>
    <div>Director Name</div>
    <div>Movie Name soooooo Long</div>
    <div>Watterfal Position <span>B</span></div>
    <div>Director's category <span>Confirmed</span></div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Donec et rutrum libero, at feugiat lectus.
      Integer pulvinar blandit nulla sagittis mattis.
    </p>
    <a routerLink="/explorer/movie/42">See this movie</a>
    <mat-progress-bar mode="determinate" value="64"></mat-progress-bar>
    <div>64% compelted</div>
  </mat-card-content>
</mat-card>
