<mat-card>
  <div class="poster-container">
    <img class="movie-poster" src="https://fakeimg.pl/657x251/" alt="Movie Poster">
    <div class="movie-info">
      <div class="subtitle">Presitge Directors</div>
      <div class="title">
        <div class="stroke">Presitge Directors</div>
        <div class="director-name">Director Name</div>
        <div class="movie-title">Movie Name soooooo Long</div>
      </div>
    </div>
  </div>
  <mat-card-content>
    
    <table>
      <thead>
        <tr>
          <th>Minimum amount requested <span class="value">$100 K</span></th>
          <th>Director's category <span class="value">Confirmed</span></th>
        </tr>
      </thead>
    </table>

    <section>
      <h3>Cast</h3>
      <p class="capitalize">adam driver, michelle williams</p>
    </section>

    <section>
      <h3>Logline</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Donec et rutrum libero, at feugiat lectus.
        Integer pulvinar blandit nulla sagittis mattis.
      </p>
    </section>
    
    <progress max="100" value="64"></progress>
    <div class="completed">64% compelted</div>

    <a routerLink="/explorer/movie/42">See this movie <mat-icon>arrow_right_alt</mat-icon></a>
  </mat-card-content>
</mat-card>
