<form [formGroup]="movieForm" (ngSubmit)="onSubmit()">
  <mat-card class="movie-card">
    <mat-card-header>
      <mat-card-title>New movie</mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <!-- TITLE -->
      <mat-form-field class="full-width">
        <input matInput formControlName="title" placeholder="Title">
        <mat-error *ngIf="movieForm.controls['title'].hasError('required')">
          Title is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <!-- CREDITS -->
      <h3> Credits </h3>
        <div formArrayName="credits"
        *ngFor="let credit of movieCredits.controls; let i = index;">
          <div [formGroupName]="i" class="full-width">
            <mat-form-field class="small-width small-margin">
              <input matInput formControlName="firstName" placeholder="First Name">
            </mat-form-field>
            <mat-form-field class="small-width small-margin">
              <input matInput formControlName="lastName" placeholder="Last Name">
            </mat-form-field>
            <mat-form-field class="small-width small-margin">
              <mat-select formControlName="creditRole" placeholder="Position">
                <mat-option *ngFor="let creditRole of staticModels.CREDIT_ROLES" [value]="creditRole">
                  {{ creditRole.label }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-icon-button color="primary" (click)="addCredit()">
              <mat-icon>add_circle</mat-icon>
            </button>
            <button mat-icon-button color="primary" (click)="removeCredit(i)">
              <mat-icon>delete_circle</mat-icon>
            </button>
          </div>
        </div>
      <div *ngIf="movieCredits.controls.length == 0">
        <button mat-icon-button color="primary" (click)="addCredit()">
          <mat-icon>add_circle</mat-icon>
        </button>
      </div>

      <!-- CREDITS -->
      <h3> Stakeholders </h3>
      <div formArrayName="stakeholders"
      *ngFor="let stakholder of movieStakeholders.controls; let i = index;">
        <div [formGroupName]="i" class="full-width small-margin">
          <mat-form-field class="small-width small-margin">
            <input matInput formControlName="orgName" placeholder="Company Name">
          </mat-form-field>
          <mat-form-field class="small-width small-margin">
            <mat-select formControlName="stakeholderRole" placeholder="Position">
              <mat-option *ngFor="let stakeholderRole of staticModels.STAKEHOLDER_ROLES" [value]="stakeholderRole">
                {{ stakeholderRole.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-icon-button color="primary" (click)="addStakeholder()">
            <mat-icon>add_circle</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="removeStakeholder(i)">
            <mat-icon>delete_circle</mat-icon>
          </button>
        </div>
      </div>
    <div *ngIf="movieStakeholders.controls.length == 0">
      <button mat-icon-button color="primary" (click)="addStakeholder()">
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>

    <!-- AUDIOVISUAL TYPES -->
    <div class="small-width">
      <mat-form-field>
        <mat-select formControlName="types" placeholder="Film Type">
          <mat-option *ngFor="let type of staticModels.AUDIOVISUAL_TYPES" [value]="type">
            {{ type.label }}
          </mat-option>
        </mat-select>
        </mat-form-field>
      </div>

    <!-- GENRES -->
    <div class="small-width">
      <mat-form-field>
        <mat-select formControlName="genres" placeholder="Genre">
          <mat-option *ngFor="let genre of staticModels.GENRES" [value]="genre">
            {{ genre.label }}
          </mat-option>
        </mat-select>
        </mat-form-field>
      </div>

    <!-- STATUS -->
    <div class="small-width">
      <mat-form-field>
        <mat-select formControlName="status" placeholder="Status">
          <mat-option *ngFor="let status of staticModels.MOVIE_STATUS" [value]="status">
            {{ status.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- ISAN -->
    <div class="small-width">
      <mat-form-field>
          <input matInput formControlName="isan" placeholder="ISAN">
      </mat-form-field>
    </div>

    <!-- LOGLINE -->
    <mat-form-field class="full-width">
      <textarea matInput #logline formControlName="logline" maxlength="180" placeholder="Logline" type="string"></textarea>
      <mat-hint align="end">{{ logline.value.length }} / 180</mat-hint>
    </mat-form-field>

    <!-- KEYWORDS -->
    <chips-autocomplete
    placeholder="Add some keywords"
    (added)="keywords.push($event)"
    (removed)="keywords.removeAt(keywords.value.indexOf($event))"
    [keys]="keywords.valueChanges | async"
    [items]="keywords"
    >
    </chips-autocomplete>

    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>

  </mat-card>
</form>
