@import 'mixins';

header {
  padding: 100px 0;
  // TODO: replace image when the real one is available.
  background-image: url('/assets/images/catalog-marketplace-banner.png');
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}

.view-content {
  margin-left: 200px;
  margin-right: 200px;
}

.mat-divider {
  margin: 0 20px;
}

.large-divider {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0;
}

.film-informations {
  margin-top: 15px;
}

.poster-column {
  width: 50%;
  margin-right: 15px;
}

.information-column {
  width: 100%;
  margin-left: 15px;
}

.movie-poster {
  width: 410px;
  height: 545px;;
}

  // TODO #974: replace color
.movie-presentation {
  margin-top: 40px;
  padding: 50px;
  border: 1px solid #292929;
  border-radius: 10px;
}

  // TODO #974: replace color
.informations {
  padding: 50px;
  padding-top: 20px;
  border: 1px solid #292929;
  border-radius: 10px;
}

.mat-flat-button {
  margin: 10px;
}

@include mobile {
  .view-content {
    margin-left: 0;
    margin-right: 0;
  }
}

@include tablet {
  .view-content {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@include medium {
  .view-content {
    margin-left: 50px;
    margin-right: 50px;
  }
}
