$mat-bf-blue: (
    50 : #e4e9fe,
    100 : #bac8fc,
    200 : #8da4fa,
    300 : #5f7ff8,
    400 : #3c63f7,
    500 : #1a48f5,
    600 : #1741f4,
    700 : #1338f2,
    800 : #0f30f0,
    900 : #0821ee,
    A100 : #ffffff,
    A200 : #e3e5ff,
    A400 : #b0b6ff,
    A700 : #969fff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$mat-bf-orange: (
    50 : #ffeeec,
    100 : #ffd4d0,
    200 : #ffb7b0,
    300 : #ff9a90,
    400 : #ff8579,
    500 : #ff6f61,
    600 : #ff6759,
    700 : #ff5c4f,
    800 : #ff5245,
    900 : #ff4033,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffe0de,
    A700 : #ffc8c4,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$mat-bf-red: (
    50 : #fee3e5,
    100 : #fcb9bf,
    200 : #fb8a94,
    300 : #f95b69,
    400 : #f73849,
    500 : #f61529,
    600 : #f51224,
    700 : #f30f1f,
    800 : #f20c19,
    900 : #ef060f,
    A100 : #ffffff,
    A200 : #ffe4e4,
    A400 : #ffb1b3,
    A700 : #ff979a,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$mat-bf-darkblue: (
    50 : #e4e3ea,
    100 : #bcb8ca,
    200 : #9089a6,
    300 : #635982,
    400 : #413668,
    500 : #20124d,
    600 : #1c1046,
    700 : #180d3d,
    800 : #130a34,
    900 : #0b0525,
    A100 : #7561ff,
    A200 : #492eff,
    A400 : #2000fa,
    A700 : #1d00e1,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
$mat-bf-darkblack: (
    50 : #e1e1e1,
    100 : #b5b5b5,
    200 : #848484,
    300 : #535353,
    400 : #2e2e2e,
    500 : #090909,
    600 : #080808,
    700 : #060606,
    800 : #050505,
    900 : #020202,
    A100 : #a6a6a6,
    A200 : #8c8c8c,
    A400 : #737373,
    A700 : #666666,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
$mat-bf-darkgreen: (
    50 : #e4e7e5,
    100 : #bcc3be,
    200 : #8f9b93,
    300 : #627268,
    400 : #415447,
    500 : #1f3627,
    600 : #1b3023,
    700 : #17291d,
    800 : #122217,
    900 : #0a160e,
    A100 : #58ff82,
    A200 : #25ff5c,
    A400 : #00f13c,
    A700 : #00d836,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

///////////
// LIGHT //
///////////
$mat-lightbf-red: (
  50 : #FFEEF1,
  100 : #FFD5D9,
  200 : #F8A8A5,
  300 : #F28882,
  400 : #FF6E61,
  500 : #FF6247,
  600 : #F75B48,
  700 : #E45141,
  800 : #D74B3B,
  900 : #C8412F,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffd3cf,
  A700 : #ffbbb6,
  contrast: (
    50 : #24374E,
    100 : #24374E,
    200 : #FFFFFF,
    300 : #FFFFFF,
    400 : #FFFFFF,
    500 : #FFFFFF,
    600 : #FFFFFF,
    700 : #FFFFFF,
    800 : #FFFFFF,
    900 : #FFFFFF,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
$mat-lightbf-blue: (
  50 : #E9EAFF,
  100 : #C7CAFD,
  200 : #9FA8FC,
  300 : #7385FB,
  400 : #4E67F9,
  500 : #1A49F5,
  600 : #1440E9,
  700 : #0035DC,
  800 : #0028D2,
  900 : #0004C1,
  A100 : #ffffff,
  A200 : #e3e5ff,
  A400 : #b0b6ff,
  A700 : #969fff,
  contrast: (
    50 : #24374E,
    100 : #24374E,
    200 : #FFFFFF,
    300 : #FFFFFF,
    400 : #FFFFFF,
    500 : #FFFFFF,
    600 : #FFFFFF,
    700 : #FFFFFF,
    800 : #FFFFFF,
    900 : #FFFFFF,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);


//////////
// DARK //
//////////

$mat-darkbf-orange: (
  50 : #FFEEF1,
  100 : #FFD5D9,
  200 : #F8A8A5,
  300 : #F28882,
  400 : #FF6E61,
  500 : #FF6247,
  600 : #F75B48,
  700 : #E45141,
  800 : #D74B3B,
  900 : #C8412F,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffd3cf,
  A700 : #ffbbb6,
  contrast: (
    50 : #24374E,
    100 : #24374E,
    200 : #24374E,
    300 : #F9F8FF,
    400 : #F9F8FF,
    500 : #F9F8FF,
    600 : #F9F8FF,
    700 : #F9F8FF,
    800 : #F9F8FF,
    900 : #F9F8FF,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
$mat-darkbf-blue: (
  50 : #E9ECFF,
  100 : #C6D0FF,
  200 : #9EB1FF,
  300 : #7492FA,
  400 : #5679F0,
  500 : #3560E6,
  600 : #2E57DB,
  700 : #234CCE,
  800 : #1A41C1,
  900 : #092DAA,
  A100 : #ffffff,
  A200 : #d3d8ff,
  A400 : #a0acff,
  A700 : #8696ff,
  contrast: (
    50 : #24374E,
    100 : #24374E,
    200 : #F9F8FF,
    300 : #F9F8FF,
    400 : #F9F8FF,
    500 : #F9F8FF,
    600 : #F9F8FF,
    700 : #F9F8FF,
    800 : #F9F8FF,
    900 : #F9F8FF,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
