$mat-bf-blue: (
  50: #e4e9fe,
  100: #bac8fc,
  200: #8da4fa,
  300: #5f7ff8,
  400: #3c63f7,
  500: #1a48f5,
  600: #1741f4,
  700: #1338f2,
  800: #0f30f0,
  900: #0821ee,
  A100: #ffffff,
  A200: #e3e5ff,
  A400: #b0b6ff,
  A700: #969fff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$mat-bf-crimson: (
  50: #fde8eb,
  100: #fbc5ce,
  200: #f99eae,
  300: #f6778d,
  400: #f45974,
  500: #f23c5c,
  600: #f03654,
  700: #ee2e4a,
  800: #ec2741,
  900: #e81a30,
  A100: #ffffff,
  A200: #ffe8ea,
  A400: #ffb5bc,
  A700: #ff9ca4,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$mat-bf-lightblue: (
  50: #eef9fc,
  100: #d5f1f8,
  200: #bae8f4,
  300: #9edfef,
  400: #89d8eb,
  500: #74d1e8,
  600: #6ccce5,
  700: #61c6e2,
  800: #57c0de,
  900: #44b5d8,
  A100: #ffffff,
  A200: #f9fdff,
  A400: #c6f1ff,
  A700: #adeaff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
