/* You can add global styles to this file, and also import other style files */
@import "./theme.scss";
@import "./variables.scss";
@include mat-core();
@include angular-material-theme($blockframes-theme);

// css color variables
:root {
  --primary: #{$primary};
  --warn: #{$warn};
  --accent: #{$accent};
  --disabled: #a0a0a0;
  //TODO : put more custom colors we often (ex. for texts or disabled content)
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.mat-dialog-container {
  border-radius: 0px !important;
  padding: 40px !important;
}

mat-card {
  border-radius: 0px !important;
}

.mat-expansion-indicator:before {
  color: $primary !important;
}

.mat-expansion-indicator:after {
  color: $primary !important;
}

// input border
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: $primary !important;
}

// input label
.mat-form-field-label {
  color: $primary !important;
}

// input left borders
.mat-form-field-appearance-outline .mat-form-field-outline-start {
  border-radius: 0px !important;
}

// input right borders
.mat-form-field-appearance-outline .mat-form-field-outline-end {
  border-radius: 0px !important;
}

button {
  border-radius: 0px !important;
  font-family: 'Montserrat', 'Helvetica Neue', sans-serif !important;
}

main {
  margin-top: 100px;
}
