/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900');

// Theme with variables
@import './theme.scss';
@import './variables.scss';

// Components style
@import './components/mat-expansion-panel';
@import './components/mat-dialog';
@import './components/mat-menu';
@import './components/mat-button';
@import './components/mat-card';
@import './components/mat-list';
@import './components/mat-toolbar';
@import './components/mat-divider';
@import './components/mat-form';
@import './components/mat-table';

* {
  box-sizing: border-box;
  font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
}

html,
body {
  height: calc(100%);
}

body {
  margin: 0;
}

h1 {
  font-size: 45px;
  font-weight: 800;
}

h2 {
  font-size: 30px;
  font-weight: 800;
}

.light-theme h3 {
  font-size: 20px;
  font-weight: 700;
  color: mat-color($bf-light-foreground, subheading);
}

.dark-theme h3 {
  font-size: 20px;
  font-weight: 700;
  color: mat-color($bf-dark-foreground, text);
}

.light-theme h4 {
  font-size: 16px;
  font-weight: 700;
  color: mat-color($bf-light-foreground, subheading);
}

.dark-theme h4 {
  font-size: 16px;
  font-weight: 700;
  color: mat-color($bf-dark-foreground, subheading);
}

p,
span {
  font-size: 14px;
}

main {
  height: 100%;
}

.black-bg-opacity-30 {
  background-color: rgba(#000000, 0.3);
}
