/* You can add global styles to this file, and also import other style files */
@import "theme.scss";
@include mat-core();
@include angular-material-theme($blockframes-theme);
@import '~@angular/material/theming';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
}

.mat-dialog-container {
  border-radius: 0px!important;
  padding: 40px!important;
}

mat-card {
  border-radius: 0px!important;
}

.mat-expansion-indicator:before {
  color: #6100ed!important;
}

.mat-expansion-indicator:after {
  color: #6100ed!important;
}

// input border
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #6100ed!important;
}

// input label
.mat-form-field-label {
  color: #6100ed!important;
}

// input left borders
.mat-form-field-appearance-outline .mat-form-field-outline-start {
  border-radius: 0px !important;
}

// input right borders
.mat-form-field-appearance-outline .mat-form-field-outline-end {
  border-radius: 0px !important;
}

button {
  border-radius: 0px!important;
}
