@import '~@angular/material/theming';
@include mat-core();
@import './palette.scss';
@import '~saturn-datepicker/theming';

// Main theme
$blockframes-theme-primary: mat-palette($mat-bf-blue);
$blockframes-theme-accent: mat-palette($mat-bf-orange);
$blockframes-theme-warn: mat-palette($mat-bf-red);

$blockframes-theme: mat-light-theme(
  $blockframes-theme-primary,
  $blockframes-theme-accent,
  $blockframes-theme-warn
);

@include sat-datepicker-theme($blockframes-theme);
@include angular-material-theme($blockframes-theme);

// Dark theme
$blockframes-dark-theme-primary: mat-palette($mat-bf-darkblue);
$blockframes-dark-theme-accent: mat-palette($mat-bf-darkblack);
$blockframes-dark-theme-warn: mat-palette($mat-bf-darkgreen);

$blockframes-dark-theme: mat-dark-theme(
  $blockframes-dark-theme-primary,
  $blockframes-dark-theme-accent,
  $blockframes-dark-theme-warn
);

.dark-theme {
  @include angular-material-theme($blockframes-dark-theme);
}

