@import '~@angular/material/theming';
@import './theme.scss';

// Main theme
$primary: mat-color($blockframes-theme-primary);
$accent: mat-color($blockframes-theme-accent);
$warn: mat-color($blockframes-theme-warn);

// Dark-theme
$dark-primary: mat-color($bf-dark-primary);
$dark-accent: mat-color($bf-dark-accent);
$dark-warn: mat-color($bf-dark-warn);

// CSS color variables
:root {
  --primary: #{$primary};
  --warn: #{$warn};
  --accent: #{$accent};
  --lightGrey: rgb(77, 86, 100);
  --label: rgb(181, 189, 206);
  --whiteBackground: rgb(250, 250, 250);
  --borderGrey: rgb(228, 228, 228);
  --flatButtonGrey: rgba(26,72,245,0.05);
  --iconBackground: rgba(0,0,0,0.3);
  --dynamicIcon: rgb(95, 105, 122);
  --textGrey: rgb(60, 75, 94);
  --toolbarHeight: 80px;
  --backgroundDisabled: rgb(248,248,249);
  --textDisabled: rgb(185,194,203);
}

// CSS dark-theme color variables
.dark-theme {
  @extend :root;
  --primary: #{$dark-primary};
  --warn: #{$dark-warn};
  --accent: #{$dark-accent};
}
