@import '~@angular/material/theming';

$primary: mat-color($blockframes-theme-primary);
$accent: mat-color($blockframes-theme-accent);
$warn: mat-color($blockframes-theme-warn);

// CSS color variables
:root {
  --primary: #{$primary};
  --warn: #{$warn};
  --accent: #{$accent};
  --lightGrey: #818181;
  --label: #666666;
}
