@import '~@angular/material/theming';

$blockframes-theme-primary: mat-palette($mat-bf-blue);
$blockframes-theme-accent: mat-palette($mat-bf-purple);
$blockframes-theme-warn: mat-palette($mat-bf-crimson);

$primary: mat-color($blockframes-theme-primary);
$accent: mat-color($blockframes-theme-accent);
$warn: mat-color($blockframes-theme-warn);
