<!-- TODO(#838): Use HostBinding instead of root div -->
<div test-id="content" page-id="catalog-selection">
    <header fxLayout="column" fxLayoutAlign="center center">
        <h1 class="mat-display-3">Global Selection</h1>
    </header>
    <section>
        <article>
            <span fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
                <h4 class="mat-h4">My films selection</h4>
                <mat-divider></mat-divider>
            </span>
        </article>
        <article>
            <catalog-form-selection [selectedMovieDetail]="rightDetail" (delete)="resetMovieDistribution()">
            </catalog-form-selection>
        </article>
        <mat-form-field appearance="outline">
          <input type="number" matInput placeholder="Enter your bid..." [formControl]="priceControl">
        </mat-form-field>
        <button (click)="setPrice()"> HERE</button>
    </section>
</div>
